@import "tailwindcss";

body {
  background-color: #000000;
  color: #e4e4e7;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-mono {
  font-family: 'JetBrains Mono', monospace;
}

::selection {
  background-color: #ffffff;
  color: #000000;
}

::-webkit-scrollbar {
  width: 10px;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border: 1px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

.terminal-scanline {
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1));
  background-size: 100% 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10;
  opacity: 0.1;
}
